<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
</head>
<body>
    <form action="/usuarios/create" method="post">
        Nome: <input type="text" name="nome">
        Sobrenome: <input type="text" name="sobrenome"><br>
        Email: <input type="text" name="email"><br>
        Senha: <input type="password" name="senha"><br>
        Confirmação de senha: <input type="password" name="csenha"><br>
        <input type="submit" value="Cadastrar">


    </form>
</body>
</html>