<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Flask</title>
</head>
<body>
    <form action="/usuarios/update/{{u.id}}" method="post">
        <legend>Alterar Pessoa</legend><br>
        <div>
            <label for="">Nome</label><br>
            <input type="text" name="nome" value="{{u.nome}}"><br>
            <label for="">Sobrenome</label><br>
            <input type="text" name="sobrenome" value="{{u.sobrenome}}">
        </div>
        <div>
            <label for="">Email</label><br>
            <input type="text" name="email" value="{{u.email}}"><br>
        </div>
        <div>
            <label for="">Senha</label><br>
            <input type="password" name="senha"><br>
            <label for="">Confirmar Senha</label><br>
            <input type="password" name="csenha"><br>
        </div>
        <div>
            <br>
            <button type="submit">Atualizar</button>
        </div>
    </form>
</body>
</html>